@import 'index.scss';
@import 'navbar.scss';


body {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/fog.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}